servicio-incentivos/workflows/servicio-incentivos.json
{"updatedAt":"2026-06-15T17:48:05.500Z","createdAt":"2026-06-15T15:55:04.091Z","id":"1UzwXbYoaEBawd7B","name":"servicio-incentivos","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e3eeab92-4c2f-479c-b68e-a6bf8d85930b","leftValue":"={{ $json.valid }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,0],"id":"f72ad904-78b9-4a4a-a6df-65e8f1e92e4c","name":"If"},{"parameters":{"respondWith":"text","responseBody":"OK","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[672,-16],"id":"b99b4aca-a78b-4346-87d2-f839c76b68d2","name":"Solicitud Valida"},{"parameters":{"httpMethod":"POST","path":"events/solicitud-donacion","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"eb61baec-1bd7-4dae-b59b-3a16c5d1b952","name":"Solicitud Donacion","webhookId":"a8ff4bd5-2d91-4da2-b223-16f39df4f688","alwaysOutputData":false},{"parameters":{"options":{"responseCode":400,"responseHeaders":{"entries":[{"name":"type-error","value":"Invalid Format"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[672,144],"id":"1ab4dfdb-68e6-4fe1-b316-63c2f16564f3","name":"Solicitud Invalida"},{"parameters":{"jsCode":"const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  let data = item.json;\n\n  // Si n8n envuelve el array en \"body\" (común con webhooks)\n  if (data.body !== undefined) {\n    data = data.body;\n  }\n\n  if (Array.isArray(data)) {\n    if (data.length === 0) {\n      output.push({ json: { valid: false, error: \"El payload es una lista vacía\" } });\n      continue;\n    }\n    data = data[0];\n  }\n\n  const errors = [];\n  const requiredFields = [\"donante\", \"cant-items\", \"cant-types\", \"date\"];\n\n  for (const field of requiredFields) {\n    if (data[field] === undefined || data[field] === null) {\n      errors.push(`Falta el campo '${field}'`);\n    }\n  }\n\n  if (errors.length === 0) {\n    if (typeof data[\"donante\"] !== \"number\" || !Number.isInteger(data[\"donante\"])) {\n      errors.push(`'donante' debe ser un entero (recibido: ${typeof data[\"donante\"]})`);\n    }\n\n    if (typeof data[\"cant-items\"] !== \"number\" || !Number.isInteger(data[\"cant-items\"]) || data[\"cant-items\"] < 0) {\n      errors.push(`'cant-items' debe ser un entero >= 0 (recibido: ${typeof data[\"cant-items\"]})`);\n    }\n\n    if (typeof data[\"cant-types\"] !== \"number\" || !Number.isInteger(data[\"cant-types\"]) || data[\"cant-types\"] < 0) {\n      errors.push(`'cant-types' debe ser un entero >= 0 (recibido: ${typeof data[\"cant-types\"]})`);\n    }\n\n    if (typeof data[\"date\"] !== \"string\" || !/^\\d{4}-\\d{2}-\\d{2}$/.test(data[\"date\"])) {\n      errors.push(`'date' debe ser un string con formato YYYY-MM-DD (recibido: ${typeof data[\"date\"]}, valor: ${JSON.stringify(data[\"date\"])})`);\n    }\n\n    // Validar que no haya campos extra inesperados\n    const allowedFields = [\"donante\", \"cant-items\", \"cant-types\", \"date\"];\n    const extraFields = Object.keys(data).filter(k => !allowedFields.includes(k));\n    if (extraFields.length > 0) {\n      errors.push(`Campos no permitidos: ${extraFields.join(\", \")}`);\n    }\n  }\n\n  if (errors.length > 0) {\n    output.push({ json: { valid: false, error: errors.join(\"; \"), data } });\n  } else {\n    output.push({ json: { valid: true, data } });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"0761ac8d-5d4c-47b4-8260-3a881c4b4169","name":"Verificacion de formato"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"e3eeab92-4c2f-479c-b68e-a6bf8d85930b","leftValue":"={{ $json.valid }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[416,384],"id":"33edd92e-54d6-440e-b473-31e0fe74ff09","name":"If1"},{"parameters":{"respondWith":"text","responseBody":"OK","options":{"responseCode":200}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[672,368],"id":"0593e722-26a7-4f31-8271-614db80d2854","name":"Solicitud Valida1"},{"parameters":{"options":{"responseCode":400,"responseHeaders":{"entries":[{"name":"type-error","value":"Invalid Format"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[672,528],"id":"abfac6bc-21d4-4de0-ac55-dba89e76f5a2","name":"Solicitud Invalida1"},{"parameters":{"jsCode":"const items = $input.all();\nconst output = [];\n\nfor (const item of items) {\n  let data = item.json;\n\n  // Si n8n envuelve el payload en \"body\" (común con webhooks)\n  if (data.body !== undefined) {\n    data = data.body;\n  }\n\n  const errors = [];\n  const requiredFields = [\"donantes\", \"date\", \"beneficiario\"];\n\n  for (const field of requiredFields) {\n    if (data[field] === undefined || data[field] === null) {\n      errors.push(`Falta el campo '${field}'`);\n    }\n  }\n\n  if (errors.length === 0) {\n    // Validar \"donantes\": array de enteros, longitud >= 1\n    if (!Array.isArray(data[\"donantes\"])) {\n      errors.push(`'donantes' debe ser un array (recibido: ${typeof data[\"donantes\"]})`);\n    } else if (data[\"donantes\"].length === 0) {\n      errors.push(\"'donantes' no puede ser un array vacío\");\n    } else {\n      const invalidDonantes = data[\"donantes\"].filter(\n        d => typeof d !== \"number\" || !Number.isInteger(d)\n      );\n      if (invalidDonantes.length > 0) {\n        errors.push(`'donantes' debe contener solo enteros (valores inválidos: ${JSON.stringify(invalidDonantes)})`);\n      }\n    }\n\n    // Validar \"date\"\n    if (typeof data[\"date\"] !== \"string\" || !/^\\d{4}-\\d{2}-\\d{2}$/.test(data[\"date\"])) {\n      errors.push(`'date' debe ser un string con formato YYYY-MM-DD (recibido: ${typeof data[\"date\"]}, valor: ${JSON.stringify(data[\"date\"])})`);\n    }\n\n    // Validar \"beneficiario\"\n    if (typeof data[\"beneficiario\"] !== \"string\" || data[\"beneficiario\"].trim().length === 0) {\n      errors.push(`'beneficiario' debe ser un string no vacío (recibido: ${typeof data[\"beneficiario\"]})`);\n    }\n\n    // Validar que no haya campos extra inesperados\n    const allowedFields = [\"donantes\", \"date\", \"beneficiario\"];\n    const extraFields = Object.keys(data).filter(k => !allowedFields.includes(k));\n    if (extraFields.length > 0) {\n      errors.push(`Campos no permitidos: ${extraFields.join(\", \")}`);\n    }\n  }\n\n  if (errors.length > 0) {\n    output.push({ json: { valid: false, error: errors.join(\"; \"), data } });\n  } else {\n    output.push({ json: { valid: true, data } });\n  }\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,384],"id":"41250ae0-e7fb-417c-8e49-33d2b5692ef7","name":"Verificacion de formato1"},{"parameters":{"content":"## Solicitud de Donaciones\n ","color":"#F9F06B"},"type":"n8n-nodes-base.stickyNote","position":[-48,-208],"typeVersion":1,"id":"8d24641d-5a0d-41c5-9c81-d55384dc37cd","name":"Sticky Note"},{"parameters":{"content":"## Donacion entregada\n ","color":"#F9F06B"},"type":"n8n-nodes-base.stickyNote","position":[-320,240],"typeVersion":1,"id":"51c92413-b9cd-47e6-a281-3fb3e138a4e2","name":"Sticky Note1"},{"parameters":{"content":"DTO:\n{\n    \"donante\": 1,\n    \"cant-items\": 1,\n    \"cant-types\": 1,\n    \"date\": \"2026-06-15\"\n  }","height":208,"width":256,"color":"#F9F06B"},"type":"n8n-nodes-base.stickyNote","position":[336,-256],"typeVersion":1,"id":"416c7e19-c17a-4e3c-8d6a-95fbfed7c8fc","name":"Sticky Note2"},{"parameters":{"content":"DTO:\n\n{\n  \"donantes\": [1, 2, 3, 4],\n  \"date\": \"2026-06-15\",\n  \"beneficiario\": \"Org\"\n}","height":208,"width":256,"color":"#F9F06B"},"type":"n8n-nodes-base.stickyNote","position":[-320,448],"typeVersion":1,"id":"ed01ae33-fd82-4b3e-b0ed-3f0bf87279c1","name":"Sticky Note3"},{"parameters":{"httpMethod":"POST","path":"events/donacion-entregada","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,384],"id":"c31344f1-eb96-403d-9469-0a0f5c7202bb","name":"Donacion Entregada","webhookId":"a8ff4bd5-2d91-4da2-b223-16f39df4f688","alwaysOutputData":false}],"connections":{"If":{"main":[[{"node":"Solicitud Valida","type":"main","index":0}],[{"node":"Solicitud Invalida","type":"main","index":0}]]},"Solicitud Donacion":{"main":[[{"node":"Verificacion de formato","type":"main","index":0}]]},"Verificacion de formato":{"main":[[{"node":"If","type":"main","index":0}]]},"If1":{"main":[[{"node":"Solicitud Valida1","type":"main","index":0}],[{"node":"Solicitud Invalida1","type":"main","index":0}]]},"Verificacion de formato1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Donacion Entregada":{"main":[[{"node":"Verificacion de formato1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"e839ca1f-41e9-4fa9-b237-e854497b9f01","activeVersionId":"e839ca1f-41e9-4fa9-b237-e854497b9f01","versionCounter":106,"triggerCount":2,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-15T15:55:04.104Z","createdAt":"2026-06-15T15:55:04.104Z","role":"workflow:owner","workflowId":"1UzwXbYoaEBawd7B","projectId":"7tzUS0PN38wzPOSn","project":{"updatedAt":"2026-06-12T11:30:11.483Z","createdAt":"2026-06-12T03:33:07.980Z","id":"7tzUS0PN38wzPOSn","name":"Dante Annetta <dannetta@frba.utn.edu.ar>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"6b99469e-8dc6-49dc-b76d-b1b7cf2b21ec"}}],"versionMetadata":{"name":"Version 1.0","description":"Es capaz de recibir los requests, validar la entrada recibida y devolver respuestas con codigos 200 o 400 dependiendo de si se trata de un DTO valido o no."}}